.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.25rem;
    cursor: pointer;
   color: white;
    
}
.headerOption:hover{
    color: white;
    text-decoration: underline;
}
.headerOption__title{
    font-size: 0.75rem;
    font-weight: 400;
}
.headerOption__icon{
    object-fit: contain;
    height: 1.563rem !important;
    width: 1.563rem !important;
}